header{
	background-color: #A9A9A9;
}
main{
	background-color:gray;
}
h1{
	text-align: center;
	color:white;
	text-transform: uppercase;
}
h2{
	color:	#0000A0;
	text-transform: uppercase;
}
a{
	color:black;
	background-color:#778899;
}